@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-yharnam-dark text-yharnam-text font-body;
    background-image: radial-gradient(circle at center, #1a1a1a 0%, #000000 100%);
    min-height: 100vh;
}

/* Custom Scrollbar (Estilo Dark) */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #0f0f0f; 
}
::-webkit-scrollbar-thumb {
    background: #3d3d3d; 
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #8a0b0b; 
}